
<div>
<% if !logged_in?  %>
  <h1> Welcome. Check out what's going on in your city!<h1>
  <h4 class="link"><%= link_to "Join us!", new_user_path %></h4>
  <h4 class="link"><%= link_to "Login", "/login" %></h4>
  <% else %>
  <% user = User.find_by(id: session[:user_id])%>
  <h1> Welcome <%= user.first %>
  <h1> Trending places <h1>

 <h1> <%= link_to "Check out places", "/places" %> </h1>
  <h1><p> <%= link_to "Add new place", "/places/new" %> </h1>
<% end %>
</div>



