<!DOCTYPE html>
<html>
<head>
  <title>Project One</title>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= render "/shared/navbar" %>
<div class="color-spacer"></div>
<div class="container">
 <%= yield %>
</div>

<footer>
  <h4> <%= link_to("About", "/") %></h4>
</footer>

</body>
</html> 











