<!DOCTYPE html>
<html>
<head>

<div>
  <title>Project One</title>
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
</div>


<header>
<%= link_to "Home", root_path %>

<% if logged_in? %>
  <p><%= link_to("Log Out #{current_user.first}!", "/session", method: "delete") %></p>  
<% else %>
  <p><%= link_to("Please Log In!","/login") %></p>
<% end %>
</header>


<div>
<%= yield %>
</div>






<footer>
  <h4> <%= link_to("About", "/") %></h4>
</footer>

</body>
</html>

